* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
	display: table;
	font-family: 'Muli', sans-serif;
}

.container{
	margin-top: 100px;
	width: 700px;
	min-height: 400px;
	background-color: #fff;
	border-radius: 5px;
}

.inner-container{
	margin: 0 auto;
	width: 90%;
	padding: 10px;
}

.inner-container blockquote{
	height: 175px;
}

.inner-container h3{
	padding-top: 20px;
	padding-bottom: 10px;
}

.cog{
	float: right;
	color: #4d4d4d;
}

.inner-container blockquote footer{
	text-align: right;
}


.tweet-btn, .new-quote{
	color: #fff;
	font-size: 16px;
}

.tweet-btn:hover, .new-quote:hover{
	color: #fff;
	opacity: 0.8;
}

.tweet-btn:focus, .new-quote:focus{
	color: #fff;
}

.tweet-btn{
	float: left;
}

.new-quote{
	float: right;
}

.quote-theme{
	-webkit-transition: background-color 1s ease;  
	-moz-transition: background-color 1s ease;  
	-o-transition: background-color 1s ease;  
	-ms-transition: background-color 1s ease;  
	transition: background-color 1s ease;
}

.quote-text, .author{
	-webkit-transition: color 1s ease;  
	-moz-transition: color 1s ease;  
	-o-transition: color 1s ease;  
	-ms-transition: color 1s ease;  
	transition: color 1s ease;
}

@media screen and (max-width: 700px) {

	.container{
		margin: 40px 0px;
		width: 100%;
	}

	.inner-container blockquote{
		height: 50%;
	}
}